<header class="nav">
    <a href="/logout">
        <img class="imgbag" src="/images/plasticBag1.png" alt="">
    </a>
    {{!--
    <a href="#">log out</a> --}}
    <h2 id="logOutProfile">log out</h2>
    <a href="/thanks/signers">
        <img class="imgbottle" src="/images/plasticBottle2.png" alt="">
    </a>
    <h2 id="signersProfile">signers</h2>


    <a href="/profilePage">
        <img class="imgbag" src="/images/plasticBag2.png" alt="">
    </a>
    <h2 id="profileProfile">profile</h2>

    <a href="/thanks">
        <img class="imgbottle3" src="/images/plasticBottle3.png" alt="">
    </a>
    {{!-- See all {{ length }} signers --}}
    <h2 id="thanksProfile">thanks</h2>

</header>