<div class="startPageGrid">
    <div class="item bt1">
        <img src="/images/plasticBottle1.png" alt="bottle1">
    </div>
    <div class="item bt2">
        <img src="/images/plasticBottle2.png" alt="bottle2">
    </div>
    <div class="item bt3">
        <img src="/images/plasticBottle3.png" alt="bottle3">
    </div>
    <h1 class="startpageTitle">NO MORE PALSTIC</h1>
    <div class="item b1">
        <img id="bag1" src="/images/plasticBag1.png" alt="bag1">
        <div class="item signup">
            <a href="/signup">sign up</a>
        </div>
    </div>
    <div class="item b2">
        <img id="bag2" src="/images/plasticBag2.png" alt="bag2">
        <div class="item login">
            <a href="/login">log in</a>
        </div>
    </div>
    <div class="item s1">
        <img id="straw1" src="/images/plasticStraw1.png" alt="straw1">
    </div>

    <P class="startpageSubtitle">This site is dedicated to the removal of plastic in our society, Plastic is a material made to last forever, yet 33 percent
        of all plastic - water bottles, bags and straws - are used just once and thrown away. Plastic cannot biodegrade;
        it breaks down into smaller and smaller pieces.</P>

    <div class="notice">
        <p>Note:  This site is a demo site, built for my personal portfolio, the data base only contains 10 signup profiles at any time.
            thank you.
        </p>

    </div>
</div>