<div id="lowerPage">
    <div class="startPageGrid1">
        <div id="navPlacement">{{>nav}}</div>
        <h1 id="thanks">Thank you</h1>

        <img id="image" src="{{signature}}" alt="">
        <h2 id="thanksPara">For your membership and signature, we will use your <br> credentials only as a way of showing the government and companies
            that the people of the world do not want or need plastic in the world.
            <h2>


    </div>

</div>